body .shell-main-nav ul .nav-box {
    left: 120px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 248, 248);
    background-repeat: no-repeat;
    background-size: contain;
}

body .shell-main-nav {
    margin-bottom: 0;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1430px;
    overflow-x: hidden;
    transform: translateY(0px);
    background-color: #fff;
    transition: .3s;
    padding: 50px;
    border: 1px solid #000;
}


/*封面效果*/

.img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../image/shanshuicover.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.img::after {
    content: '神木仙山';
    width: 600px;
    height: 250px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: rgba(101, 161, 240, 0.5) 10px solid;
    color: #132f61;
    letter-spacing: 30px;
    font: 100 95px 华文行楷;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* part1 */
.section-top {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.section-top-middle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('./image/logo.jpg');
    background-size:cover;
    margin: 0 50px;
    border: 0px solid rgba(255, 255, 255, 0.25);
}

.section-top-left,
.section-top-right {
    width: 300px;
    height: 300px;
    line-height:30px;
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
    font-family: 楷体;
}

.section-top p {
    font-size: 28px;
    color: #c8a673;
    margin: 5px 0;
}

/* part2 */
.section-middle,
.section-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-bottom {
    position: relative;
}

.section-middle-box {
    width: 100%;
    display: flex;
    margin: 50px 0;
}

.section-middle-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-middle-left span {      
    text-align: left;
    color: rgb(99, 142, 199);
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    font-family: 华文行楷;
}

.section-middle-right {
    width: 600px;
    line-height:30px;
    display: flex;
    justify-content: center;
}

.section-middle-right span{
    text-align: left;
    font-size: 20px;
    font-family: 楷体;
}

/*图片效果*/
.section-middle-right img {
    width: 400px;
    transition: .3s;
}
.section-middle-right img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.Skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.Skills li {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    height: 50px;
    cursor: pointer;
}

.Skills li span,
.Skills li p {
    text-align: center;
    font-size: 20px;
    display: block;
    width: 50%;
    transition: .2s;
    letter-spacing: 0px;
}

.Skills li p {
    color: #22A39F;
}

.Skills li:hover p {
    letter-spacing: 5px;
}

.Achievement {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Achievement-left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Achievement-left h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.Achievement-left span {
    font-size: 10px;
}

.Achievement-right {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 450px;
}

.Achievement-right img {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: .3s;
}

.Achievement-right img:hover {
    transform: scale(1.1);
}

article {
    display: flex;
    justify-content: center;
}

aside {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 224);
    padding: 50px 0;
}

/*底部图片设置*/
.bottom{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bottom::after{
    content: '吾生山海间，浪迹万物先';
    position: absolute;
    top: -170px;
    width: 100%;
    text-align: center;
    font: 300 40px '华文行楷';
}
.bottom img{
    width: 23%;
    height: 300px;
}